<style>
    .Chnng_label {
        background: #3d7eaa;
        padding: 10px;
        text-align: center;
        margin: 0px;
        color: #fff;
    }
</style>
<script>
$(".toggle-password").click(function() {

  $(this).toggleClass("fa-eye fa-eye-slash");
    var x = document.getElementById("myPass");
    if (x.type === "password") {
        x.type = "text";
    } else {
        x.type = "password";
    }
});
</script>
<div ng-controller="ChangePasswordController">
    <div class="container">
        <div class="sm-spacer"></div>
        <div class="container">
            <div class="col-md-12">
                <button class="btn bck_btn"><a href="#!/Dashboard" class="backA"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i>  Back</a></button>
            </div>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card">

                <h3 class="Chnng_label">Change Password</h3>
                <div class="form-group">
                    <label>Old Password</label>
                    <input class="form-control" type="password" placeholder="Old Password" autocomplete="off" id="myPass" ng-model="OldPassword" name="NewPassword" />
                    <!--<i toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></i>-->
                </div>
                <div class="form-group">
                    <label>New Password</label>
                    <input class="form-control" type="password" placeholder="New Password" autocomplete="off" ng-model="NewPassword" name="NewPassword" />
                </div>
                <div class="form-group">
                    <label>Confirm Password</label>
                    <input class="form-control" type="text" placeholder="Confirm Password" autocomplete="off" ng-model="ConfirmPassword" name="ConfirmPassword" />
                </div>
            
                <button type="submit" class="btn btn-info" style="width:100%" ng-click="Submit()">Submit</button>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
    </div>
