<style>
    .cls_red {
        color: red;
        font-weight: bold;
    }

</style>
<div ng-controller="NrReportController">
    <div class="container">
        <div class="sm-spacer"></div>
        <div class="container">
            <div class="col-md-12">
                <button class="btn bck_btn"><a href="#!/Dashboard" class="backA"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i>  Back</a></button>
            </div>
        </div>
        <div class="col-md-12 " ng-show="Data">
            <div class="pull-right">
                <a class="ExportToExcel1 pointer"
                   id="ExportToExcel1" ng-click="DownloadtoExcel()">
                    <i class="fa fa-file-excel-o"></i>
                    Export to Excel
                </a>
            </div>
            

        </div>
        <div class="col-md-12 " ng-show="Data">
            <div class="pull-right cls_red">
                Click on the row to mark attendance
            </div>

        </div>
        <div class="col-md-12" style="padding:0px!important" ng-show="Data">
            <div class="cl-details">
                <h2>NR Report</h2>
            </div>
        </div>
        <div class="row" ng-show="Data">

            <div id="preExamReports" class="table-responsive table-custom-tables-tb col-md-12 scrollbox">
                <table class="table table-bordered  table-striped table-rounded scrollbox-content">
                    <thead>
                        <tr class="cb-1">
                            <th class="text-center" style="width: 2%;">S.No</th>
                            <th class="text-center" style="width: 10%;">Town Code</th>
                            <th>Town Name</th>
                            <th>Exam Center</th>
                            <th>Female Opted Maths</th>
                            <th class="text-center" style="width: 12%;">Female Opted Biology</th>
                            <th class="text-center">Male Opted Maths </th>
                            <th class="text-center">Male Opted Biology</th>
                            <th class="text-center">Total Male in center</th>
                            <th class="text-center">Total Female in center</th>
                            <th class="text-center">Total Maths opted (MPC)</th>
                            <th class="text-center">Total Biology opted (MBiPC)</th>
                            <th class="text-center">Total strength in center</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr style="background-color:#fff!important;cursor:pointer" ng-repeat="data in GetExamCenters" ng-click="openDetails(data)">

                            <td class="text-center">{{$index + 1}}</td>
                            <td class="text-center">
                                {{data.town_code}}
                            </td>
                            <td>
                                {{data.TownName}}
                            </td>
                            <td class="text-center">
                                {{data.ecentre_code}} - {{data.ExaminationCentreName}}
                            </td>
                            <td class="text-center">{{data.FemaleMaths}}</td>
                            <td class="text-center">{{data.FemaleBiology}}</td>
                            <td class="text-center">{{data.MaleMaths}}</td>
                            <td class="text-center">{{data.MaleBiology}}</td>
                            <td class="text-center">{{data.MaleTotal}}</td>
                            <td class="text-center">{{data.FemaleTotal}}</td>
                            <td class="text-center">{{data.MathsTotal}}</td>
                            <td class="text-center">{{data.BiologyTotal}}</td>
                            <td class="text-center">{{data.TotalStrength}}</td>

                        </tr>

                    </tbody>
                </table>
            </div>

        </div>
        <div style="width:100%;text-align:center;">
            <div>
                <img src="/asset/images/loadingnew.gif" class="loadingimg" ng-show="loading" width="64" />
            </div>

        </div>
        <div class="col-md-12">
            <div class="nodata">
                <img src="/asset/images/nodata.png" ng-show="nodata" width="64" />
            </div>

        </div>
    </div>
</div>